#header {
  height:100px;
  border-bottom: 3px solid #0767a4;
}

#search_filtered .jd-selected {
  background-color: #0767a4;
}

#mastlabel {
  font-size:50px;
  color: #3786c9;
}

#search {
  height:25px;
  margin:76px 10px 0 0;
}
